<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>품목 관리 - SHOP MGMT</title>
    <link rel="stylesheet" href="/css/item/itemManage.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>품목 관리</h1>
    </header>

    <section class="item-form-section">
        <div class="item-form">
            <div class="input-group">
                <label>품목명</label>
                <input type="text" placeholder="예: 무선 마우스" id="itemName">
            </div>
            <div class="input-group">
                <label>매입단가</label>
                <input placeholder="0" id="price1" oninput="this.value = fommatter('comma', this.value)">
            </div>
            <div class="input-group">
                <label>매출단가</label>
                <input placeholder="0" id="price2" oninput="this.value = fommatter('comma', this.value)">
            </div>
            <div class="input-group">
                <label>가격3</label>
                <input placeholder="0" id="price3" oninput="this.value = fommatter('comma', this.value)">
            </div>
            <button type="submit" class="btn-add" id="saveItemBtn">등록하기</button>
        </div>
    </section>

    <hr class="divider">

<!--    <section class="item-list-section">-->
<!--        <div class="item-card">-->
<!--            <div class="info">-->
<!--                <span class="name">샘플 품목 A</span>-->
<!--                <span class="price">15,000원</span>-->
<!--            </div>-->
<!--            <button class="btn-delete">삭제</button>-->
<!--        </div>-->
<!--    </section>-->
</div>
</body>
</html>
<script src="/js/util/util.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const btnAdd = document.querySelector('#saveItemBtn');

        btnAdd.addEventListener('click',async function() {
            if(!fn_validate()){
                return;
            }

            // 2. 파라미터 구성
            const params = {
                itemName: document.querySelector('#itemName').value,
                price1: document.querySelector('#price1').value.replace(',',''),
                price2: document.querySelector('#price2').value.replace(',',''),
                price3: document.querySelector('#price3').value.replace(',','')
            };

            let data = await sendRequest("/item/save",'POST',params);
            console.log(data);
            if(data.code === 200){
                alert(data.msg);
                document.querySelector('#itemName').value = '';
                document.querySelector('#price1').value = '';
                document.querySelector('#price2').value = '';
                document.querySelector('#price3').value = '';
            }
        });

        function fn_validate(){
            if(isEmpty(document.querySelector('#itemName').value)){
                alert("품목이 비었습니다");
                return false;
            }
            if(isEmpty(document.querySelector('#price1').value)){
                alert("매입단가가 비었습니다");
                return false;
            }
            if(isEmpty(document.querySelector('#price2').value)){
                alert("매출단가가 비었습니다");
                return false;
            }
            return true;
        }
    });
</script>