<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입출고 이력</title>
    <link rel="stylesheet" href="/js/lib/tui-grid.css" />
    <link rel="stylesheet" href="/css/item/itemList.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>입출고 이력</h1>
    </header>

    <section class="search-container">
        <div class="search-row">
            <div class="filter-group">
                <label>시작일</label>
                <input type="date" id="startDt">
            </div>
            <div class="filter-group">
                <label>종료일</label>
                <input type="date" id="endDt">
            </div>
        </div>
        <div class="search-row">
            <div class="filter-group">
                <label>품명</label>
                <input type="text" placeholder="품목 검색" id="itemName">
            </div>
            <div class="filter-group">
                <label>고객/담당자</label>
                <input type="text" placeholder="성함/업체명" id="customer">
            </div>
            <button class="btn-search" id="itemHistorySearchBtn">조회</button>
        </div>
    </section>
    <div id="grid"></div>
</div>
</body>
<script src="/js/lib/tuiGrid.js"></script>
<script src="/js/util/util.js"></script>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let itemHistorySearchBtn = document.querySelector('#itemHistorySearchBtn');
        let grid = null;




        itemHistorySearchBtn.addEventListener('click',async function(){
            let startDt = document.querySelector('#startDt').value;
            let endDt = document.querySelector('#endDt').value;
            let itemName = document.querySelector('#itemName').value;
            let customer = document.querySelector('#customer').value;

            let param = {
                startDate: startDt,
                endDate: endDt,
                itemName: itemName,
                customer: customer
            }
            let data = await sendRequest('/item/getItemHistory', 'POST', param);
            console.log(data);
            initGrid(data.data);
        })

        function initGrid(data){
            gridStyle();
            if(isEmpty(grid)){
                grid = new tui.Grid({
                    el: document.getElementById('grid'),
                    data: data,
                    scrollX: false,
                    scrollY: true,
                    bodyHeight: 400,
                    columnOptions: {
                        resizable: true // <--- 모든 컬럼 리사이즈 활성화
                    },
                    columns: [
                        {
                            header: '날짜',
                            align: 'center',
                            name: 'date',
                            formatter:({value}) => {
                                return fommatter('yyyy-mm-dd HH:mm', value);
                            }
                        },
                        {
                            header: '품명',
                            align: 'center',
                            name: 'item_name'
                        },
                        {
                            header: '타입',
                            name: 'type',
                            width: 50,
                            align: 'center',
                            formatter: ({value}) => {
                                const typeMap = {
                                    'IN': { text: '입고', color: '#2196F3' }, // 파란색
                                    'OUT': { text: '출고', color: '#F44336' } // 빨간색
                                };
                                const item = typeMap[value];
                                return `<span style="color: ${item.color}; font-weight: bold;">${item.text}</span>`;
                            }
                        },
                        {
                            header: '개수',
                            align: 'center',
                            width: 50,
                            name: 'cnt',
                            formatter: ({ value, row }) =>{
                                const typeMap = {
                                    'IN': '+'+value,
                                    'OUT': '-'+value
                                }
                                return typeMap[row.type];
                            }
                        },
                        {
                            header: '대상',
                            align: 'center',
                            name: 'customer'
                        },
                    ]
                });
            }else{
                grid.resetData(data);
            }
        }


        const gridStyle = () => {
            // 1. 테마 즉시 적용 (그리드 생성 전에 실행되어야 함)
            tui.Grid.applyTheme('default', {
                cell: {
                    normal: {
                        background: '#ffffff',
                        border: '#e0e0e0',
                        showVerticalBorder: true,
                        showHorizontalBorder: true,
                        fontSize: '15px',
                    },
                    header: {
                        background: '#ededed', // 헤더도 하얗게 원하시면 #ffffff
                        border: '#e0e0e0',
                        fontSize: '16px',
                        fontWeight: 'bold',
                    },
                    selectedHeader: {
                        background: '#ffffff'
                    }
                }
            });
        }
    })
</script>