<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입출고 이력</title>
    <link rel="stylesheet" href="/js/lib/tui-grid.css" />
    <link rel="stylesheet" href="/css/item/itemHistory.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>입출고 이력</h1>
    </header>

    <section class="search-container">
        <div class="search-row">
            <div class="filter-group">
                <label>시작일</label>
                <input type="date" id="startDt">
            </div>
            <div class="filter-group">
                <label>종료일</label>
                <input type="date" id="endDt">
            </div>
        </div>
        <div class="search-row">
            <div class="filter-group">
                <label>품명</label>
                <input type="text" placeholder="품목 검색" id="itemName">
            </div>
            <div class="filter-group">
                <label>고객/담당자</label>
                <input type="text" placeholder="성함/업체명" id="customer">
                <div id="autocomplete-list"></div>
            </div>
            <button class="btn-search" id="itemHistorySearchBtn">조회</button>
        </div>
    </section>
    <div class="excelBtnBox">
        <button class="btn-search excelBtn" id="excelDownBtn">엑셀다운</button>
    </div>
    <div id="grid"></div>
</div>
</body>
<script src="/js/lib/xlsx.js"></script>
<script src="/js/lib/tui-grid.js"></script>
<script src="/js/util/util.js"></script>
</html>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        let itemHistorySearchBtn = document.querySelector('#itemHistorySearchBtn');
        let customerInput = document.querySelector('#customer');
        let autocompleteList = document.querySelector('#autocomplete-list');
        let excelDownBtn = document.querySelector('#excelDownBtn');
        let grid = null;

        customerInput.addEventListener('input',async function(){


            let param = {
                customer: this.value
            }
            let data = await sendRequest('/item/getCustomer', 'POST', param);
            console.log(data);
            let div = '';
            data.data.forEach((item)=> {
                div += `<div class="suggestion-item" onclick="setCustomer('${item.customer}')">
                            ${item.customer}
                        </div>`
            })

            autocompleteList.innerHTML = div;
        })


        itemHistorySearchBtn.addEventListener('click',async function(){
            let startDt = document.querySelector('#startDt').value;
            let endDt = document.querySelector('#endDt').value;
            let itemName = document.querySelector('#itemName').value;
            let customer = document.querySelector('#customer').value;

            let param = {
                startDate: startDt,
                endDate: endDt,
                itemName: itemName,
                customer: customer
            }
            let data = await sendRequest('/item/getItemHistory', 'POST', param);
            console.log(data);
            initGrid(data.data);
        })

        excelDownBtn.addEventListener('click', function(){
            if(isEmpty(grid)){
                alert("조회 후 이용 가능합니다");
                return;
            }
            grid.export('xlsx', {
                fileName: 'customer_list', // 저장될 파일명
                useFormattedValue: true,    // 포맷터가 적용된 값으로 추출할지 여부
                includeHeader: true         // 헤더 포함 여부
            });
        })

        window.setCustomer = function(name){
            document.querySelector('#customer').value = name;
            document.querySelector('#autocomplete-list').innerHTML = '';
        }

        function initGrid(data){
            gridStyle();
            if(isEmpty(grid)){
                grid = new tui.Grid({
                    el: document.getElementById('grid'),
                    data: data,
                    scrollX: true,
                    scrollY: true,
                    bodyHeight: 400,
                    columnOptions: {
                        resizable: true // <--- 모든 컬럼 리사이즈 활성화
                    },
                    columns: [
                        {
                            header: '날짜',
                            align: 'center',
                            name: 'date',
                            formatter:({value}) => {
                                return fommatter('yyyy-mm-dd', value);
                            }
                        },
                        {
                            header: '품명',
                            align: 'center',
                            name: 'item_name'
                        },
                        {
                            header: '대상',
                            align: 'center',
                            name: 'customer'
                        },
                        {
                            header: '연락처',
                            align: 'center',
                            name: 'customer_tel'
                        },
                        {
                            header: '타입',
                            name: 'type',
                            width: 50,
                            align: 'center',
                            formatter: ({value}) => {
                                const typeMap = {
                                    'IN': '입고',
                                    'OUT': '출고'
                                }
                                return typeMap[value];
                            }
                        },
                        {
                            header: '개수',
                            align: 'center',
                            width: 50,
                            name: 'cnt',
                            formatter: ({ value, row }) =>{
                                const typeMap = {
                                    'IN': '+'+value,
                                    'OUT': '-'+value
                                }
                                return typeMap[row.type];
                            }
                        },
                    ]
                });
            }else{
                grid.resetData(data);
            }

            //색 주기
            grid.getData().forEach((data) => {
                if(data.type == 'IN'){
                    grid.addCellClassName(data.rowKey, 'type', 'txt-blue');
                }else{
                    grid.addCellClassName(data.rowKey, 'type', 'txt-red');
                }

            })

        }


        const gridStyle = () => {
            // 1. 테마 즉시 적용 (그리드 생성 전에 실행되어야 함)
            tui.Grid.applyTheme('default', {
                cell: {
                    normal: {
                        background: '#ffffff',
                        border: '#e0e0e0',
                        showVerticalBorder: true,
                        showHorizontalBorder: true,
                        fontSize: '15px',
                    },
                    header: {
                        background: '#ededed', // 헤더도 하얗게 원하시면 #ffffff
                        border: '#e0e0e0',
                        fontSize: '16px',
                        fontWeight: 'bold',
                    },
                    selectedHeader: {
                        background: '#ffffff'
                    }
                }
            });
        }
    })
</script>