<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>품목재고조회</title>
    <link rel="stylesheet" href="/js/lib/tui-grid.css" />
    <link rel="stylesheet" href="/css/item/itemList.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>품목재고조회</h1>
    </header>

    <section class="search-container">
        <div class="search-row">
            <div class="filter-group">
                <label>시작일</label>
                <input type="date" id="startDt">
            </div>
            <div class="filter-group">
                <label>종료일</label>
                <input type="date" id="endDt">
            </div>
        </div>
        <div class="flex-right">
            <button class="btn-search" id="itemListSearchBtn">조회</button>
        </div>
    </section>
    <div class="excelBtnBox">
        <button class="btn-search excelBtn" id="excelDownBtn">엑셀다운</button>
    </div>
    <div id="grid"></div>
</div>
</body>
<script src="/js/lib/tuiGrid.js"></script>
<script src="/js/util/tuiGrid.js"></script>
<script src="/js/util/util.js"></script>
<script src="/js/component/item/itemList.js"></script>
</html>
