<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>품목조회</title>
    <link rel="stylesheet" href="/js/lib/tui-grid.css" />
    <link rel="stylesheet" href="/css/item/itemHistory.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>품목조회</h1>
    </header>

    <section class="search-container">
        <div class="search-row">
            <div class="filter-group">
                <label>시작일</label>
                <input type="date" id="startDt">
            </div>
            <div class="filter-group">
                <label>종료일</label>
                <input type="date" id="endDt">
            </div>
        </div>
        <button class="btn-search" id="itemListSearchBtn">조회</button>
    </section>
    <div id="grid"></div>
</div>
</body>
<script src="/js/lib/tuiGrid.js"></script>
<script src="/js/util/util.js"></script>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let itemListSearchBtn = document.querySelector('#itemListSearchBtn');
        let grid = null;




        itemListSearchBtn.addEventListener('click',async function(){
            let startDt = document.querySelector('#startDt').value;
            let endDt = document.querySelector('#endDt').value;

            let param = {
                startDate: startDt,
                endDate: endDt,
            }
            let data = await sendRequest('/item/getItemList', 'POST', param);
            console.log(data);
            initGrid(data.data);
        })



        function initGrid(data){
            gridStyle();
            if(isEmpty(grid)){
                grid = new tui.Grid({
                    el: document.getElementById('grid'),
                    data: data,
                    scrollX: false,
                    scrollY: true,
                    bodyHeight: 400,
                    columnOptions: {
                        resizable: true // <--- 모든 컬럼 리사이즈 활성화
                    },
                    columns: [
                        {
                            header: '날짜',
                            align: 'center',
                            name: 'created_at',
                            formatter:({value}) => {
                                return fommatter('yyyy-mm-dd HH:mm', value);
                            }
                        },
                        {
                            header: '품명',
                            align: 'center',
                            name: 'item_name'
                        },
                        {
                            header: '매입단가',
                            name: 'price1',
                            width: 100,
                            align: 'center',
                        },
                        {
                            header: '매출단가',
                            align: 'center',
                            width: 100,
                            name: 'price2',
                        },
                        {
                            header: '가격3',
                            align: 'center',
                            width: 100,
                            name: 'price3'
                        },
                    ]
                });
            }else{
                grid.resetData(data);
            }
        }


        const gridStyle = (data) => {
            // 1. 테마 즉시 적용 (그리드 생성 전에 실행되어야 함)
            tui.Grid.applyTheme('default', {
                cell: {
                    normal: {
                        background: '#ffffff',
                        border: '#e0e0e0',
                        showVerticalBorder: true,
                        showHorizontalBorder: true,
                        fontSize: '15px',
                    },
                    header: {
                        background: '#ededed', // 헤더도 하얗게 원하시면 #ffffff
                        border: '#e0e0e0',
                        fontSize: '16px',
                        fontWeight: 'bold',
                    },
                    selectedHeader: {
                        background: '#ffffff'
                    }
                }
            });
        }
    })
</script>