<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재고 변환</title>
    <link rel="stylesheet" href="/css/item/itemChange.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>재고 변환</h1>
    </header>

    <div class="stock-form">
        <div class="input-group">
            <label>변환 종류</label>
            <div class="type-group" id="typeGroup">
                <div class="type-option">
                    <input type="radio" name="type" id="type-out" value="OUT" checked>
                    <label for="type-out" class="type-label">출고 (-)</label>
                </div>
                <div class="type-option">
                    <input type="radio" name="type" id="type-in" value="IN" >
                    <label for="type-in" class="type-label">입고 (+)</label>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label>출입고 일자</label>
            <input type="date" id="dateTime">
        </div>

        <div class="input-group" id="customerBox">
            <label>매출,매입처 (수령인/업체)</label>
            <input type="text" placeholder="이름을 입력하세요" id="customer">
        </div>

        <div class="input-group" id="custNumBox">
            <label>사업자번호</label>
            <input type="text" maxlength="12" placeholder="xxx-xx-xxxxx" id="custNum" oninput="this.value = fommatter('custNum',this.value)">
        </div>

        <div class="input-group" id="customerTelBox">
            <label>연락처</label>
            <input type="text" placeholder="010-xxxx-xxxx" id="customerTel" oninput="this.value = fommatter('tel',this.value)">
        </div>

        <div class="input-group" id="addressBox">
            <label>주소</label>
            <input type="text" id="address">
        </div>

        <div id="ItemListBox"></div>

        <div class="flex-box">
            <button class="addItem w80" type="button" id="add-item-btn" style="">
                + 품목 추가하기
            </button>
        </div>

        <button type="submit" class="btn-submit" id="changeItemBtn">변환 내용 저장</button>

        <div class="summary-box">
            <div class="summary-row">
                <span>총 품목 수</span>
                <span id="totalCount">0개</span>
            </div>
            <div id="receiptBox"></div>
            <div class="summary-row total">
                <span>최종 합계</span>
                <span id="totalPrice">0원</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script th:src="@{/js/util/util.js(v=${#dates.createNow().getTime()})}"></script>
<script th:src="@{/js/util/tuiGrid.js(v=${#dates.createNow().getTime()})}"></script>
<script th:src="@{/js/util/createComponent.js(v=${#dates.createNow().getTime()})}"></script>
<script th:src="@{/js/component/item/itemChange.js(v=${#dates.createNow().getTime()})}"></script>

