<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>품목입력관리 - SHOP MGMT</title>
    <link rel="stylesheet" href="/css/item/itemManage.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>품목입력관리</h1>
    </header>

    <section class="item-form-section">
        <div class="item-form">
            <div class="input-group">
                <label>품목명</label>
                <input type="text" placeholder="예: 무선 마우스" id="itemName">
            </div>
            <div class="input-group">
                <label>매입단가</label>
                <input placeholder="0" id="price1" oninput="this.value = fommatter('comma', this.value)">
            </div>
            <div class="input-group">
                <label>매출단가</label>
                <input placeholder="0" id="price2" oninput="this.value = fommatter('comma', this.value)">
            </div>
            <div class="input-group">
                <label>가격3</label>
                <input placeholder="0" id="price3" oninput="this.value = fommatter('comma', this.value)">
            </div>
            <button type="submit" class="btn-add" id="saveItemBtn">등록하기</button>
        </div>
    </section>

    <hr class="divider">

</div>
</body>
</html>
<script th:src="@{/js/util/util.js(v=${#dates.createNow().getTime()})}"></script>
<script th:src="@{/js/util/tuiGrid.js(v=${#dates.createNow().getTime()})}"></script>
<script th:src="@{/js/util/createComponent.js(v=${#dates.createNow().getTime()})}"></script>
<script th:src="@{/js/component/item/itemManage.js(v=${#dates.createNow().getTime()})}"></script>
