<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재고 변환</title>
    <link rel="stylesheet" href="/css/item/itemChange.css">
</head>
<body>
<div class="dashboard">
    <header class="main-header">
        <a href="/index" class="back-link">← 뒤로가기</a>
        <h1>재고 변환</h1>
    </header>

    <div class="stock-form">
        <div class="input-group">
            <label>재고 품목</label>
            <input placeholder="품목을 입력하세요" id="itemName">
            <input id="itemNameId" hidden>
            <div id="autocomplete-list" class="autocomplete-suggestions"></div>
        </div>

        <div class="input-group">
            <label>변환 종류</label>
            <div class="type-group">
                <div class="type-option">
                    <input type="radio" name="type" id="type-in" value="IN" checked>
                    <label for="type-in" class="type-label">입고 (+)</label>
                </div>
                <div class="type-option">
                    <input type="radio" name="type" id="type-out" value="OUT">
                    <label for="type-out" class="type-label">출고 (-)</label>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label>수량</label>
            <input type="number" placeholder="0">
        </div>

        <div class="input-group">
            <label>대상 (수령인/업체)</label>
            <input type="text" placeholder="이름을 입력하세요">
        </div>

        <div class="input-group">
            <label>발생 시간</label>
            <input type="datetime-local">
        </div>

        <button type="submit" class="btn-submit">변환 내용 저장</button>
    </div>
</div>
</body>
</html>
<script src="/js/util/util.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const itemName = document.querySelector('#itemName');
        const itemNameId = document.querySelector('#itemNameId');
        const listContainer = document.querySelector('#autocomplete-list');

        itemName.addEventListener('input',async function() {
            if(isEmpty(itemName.value) || itemName.value.length < 2){
                listContainer.innerHTML = '';
                return;
            }

            const params = {
                itemName: itemName.value,
            };

            let data = await sendRequest("/item/search",'POST',params);
            console.log(data);
            if(data.code === 200){
                let html = '';
                data.data.forEach(item => {
                    html += `<div class="suggestion-item" onclick="selectItem('${item.id}', '${item.itemName}')">
                                ${item.itemName}
                            </div>`;
                });

                listContainer.innerHTML = html;
            }
        });

        window.selectItem = function(id, name){
            itemName.value = name;
            itemNameId.value = id;
            listContainer.innerHTML = '';
        }

    });
</script>
