<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheelchair Dashboard</title>
    <link rel="stylesheet" href="/css/chair/chairRentalList.css">
    <link rel="stylesheet" href="/js/lib/tui-grid.css" />
</head>
<body>
    <div class="dashboard">
        <header class="main-header">
            <a href="/" class="back-link">← 뒤로가기</a>
            <h1>휠체어 대여 현황</h1>
        </header>

        <div >
            <span class="m-10">검색</span>
            <input class="m-10 p-10" placeholder="전화번호, 고객명" id="endRentalSearch">
        </div>

        <div class="status-list" id="EndRentListBox"></div>

        <div class="stock-form">
            `<section class="search-container">
                <div class="search-row">
                    <div class="filter-group">
                        <label>시작일</label>
                        <input type="date" id="startDate">
                    </div>
                    <div class="filter-group">
                        <label>종료일</label>
                        <input type="date" id="endDate">
                    </div>
                </div>
                <div class="search-row">
                    <div class="filter-group">
                        <label>고객명</label>
                        <input type="text" id="customerName">
                    </div>
                    <div class="filter-group">
                        <label>연락처</label>
                        <input type="text" id="customerTel">
                    </div>
                    <button class="btn-search" id="chairListSearchBtn">조회</button>
                </div>
            </section>
        </div>
        <div class="excelBtnBox">
            <button class="btn-search excelBtn" id="excelDownBtn">엑셀다운</button>
        </div>
        <div id="grid" style="margin: 0 0 30px;"></div>
    </div>
</body>
</html>
<script src="/js/lib/xlsx.js"></script>
<script src="/js/lib/tui-grid.js"></script>
<script src="/js/util/util.js"></script>
<script src="/js/util/tuiGrid.js"></script>
<script src="/js/util/createComponent.js"></script>
<script src="/js/component/chair/chairRentalList.js"></script>
