:root {
    --bg-color: #ffffff;
    --text-main: #111111;
    --text-sub: #888888;
    --border-color: #eeeeee;
    --hover-bg: #f9f9f9;
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: -apple-system, sans-serif; }

body { background-color: var(--bg-color); color: var(--text-main); display: flex; justify-content: center; padding-top: 5vh; }
.dashboard { width: 100%; max-width: 900px; padding: 0 24px; }
.main-header { margin-bottom: 30px; }
.main-header h1 { font-size: 28px; font-weight: 700; }
.back-link { text-decoration: none; color: var(--text-sub); font-size: 14px; margin-bottom: 10px; display: inline-block; }

/* 검색 필터 영역 */
.search-container {
    background-color: var(--hover-bg);
    padding: 20px;
    border-radius: 16px;
}

.excelBtnBox{
    display: flex;
    justify-content: flex-end;
}
.excelBtn{
    margin: 10px;
}

.suggestion-item {
    border: 1px solid black;
    background: #ededed;
    padding: 10px;
    position: absolute;
    width: 28%;
}
.suggestion-item:hover {
    background-color: var(--hover-bg);
}

.search-row {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.search-row:last-child { margin-bottom: 0; }

.filter-group { flex: 1; display: flex; flex-direction: column; gap: 6px; }
.filter-group label { font-size: 11px; font-weight: 700; color: var(--text-sub); }
.filter-group input {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.btn-search {
    background-color: var(--text-main);
    color: white;
    border: none;
    padding: 0 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
    height: 38px;
}

/* 그리드 테이블 스타일 */
.history-grid { width: 100%; border-collapse: collapse; margin-top: 10px; }
.history-grid th {
    text-align: left;
    padding: 12px 8px;
    border-bottom: 2px solid var(--text-main);
    font-size: 13px;
    color: var(--text-sub);
}

.history-grid td {
    padding: 16px 8px;
    border-bottom: 1px solid var(--border-color);
    font-size: 14px;
}
/* 입고: 파란색 */
.txt-blue div{ color: #2196F3; font-weight: bold; }

/* 출고: 빨간색 */
.txt-red div{ color: #F44336; font-weight: bold; }


.status-in { color: #007aff; font-weight: 600; }
.status-out { color: #ff3b30; font-weight: 600; }

/* 모바일 대응 (화면 너비가 600px 이하일 때) */
@media screen and (max-width: 600px) {
    .search-row {
        flex-direction: column; /* 가로 배열을 세로로 변경 */
        gap: 15px;
    }

    .filter-group {
        width: 100%; /* 각 필터가 가로 꽉 차게 */
    }

    .btn-search {
        width: 100%; /* 조회 버튼도 가로 꽉 차게 */
        height: 45px; /* 모바일에서 터치하기 편하게 높이 조절 */
        margin-top: 5px;
    }
}